<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="confirm">
        
        <form action="/delete" method="post">
            <input name="deletename" 
            class="form-input" type="text" value="<%= filename%>" readonly="true"/>
            <button class="del" type="submit">Confirm Delete <%= filename%></button>
            <a class="read-more" href="/">back to the main screen
            </a>
        </form>
    </div>
</body>
</html>