<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="showcontainer">
        <h1><%= filename %>  </h1>
        <p> <%= filedata %> </p>
        <a class="read-more" href="/">back to the main screen
        </a>
        <a class="delete" href="/delete/<%=filename%>">Delete file</a>
    </div>


    <script src="/Javascript/script.js"></script>
</body>
</html>